
.add_camp_btn{
    margin-top: 150px;
}

.add_camp {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.add_camp:hover {
    color: white;
}

.oth_camp {
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgb(81, 81, 87);
}

body {
    margin: 0;
    background-color: rgb(202, 202, 202);
}

.container {
    border-bottom: 15px solid rgb(202, 202, 202);
    border-radius: 50px;
}

.row {
    background-color: rgb(152, 174, 190);
    border-radius: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.column-66 {
    width: 50%;
    padding: 3%;
    vertical-align: middle;
}

.column-33 {
    float: left;
    width: 50%;
    padding: 20px;
    border-right: 10px solid rgb(255, 255, 255);
}

.donate_here {
    margin-left: 30%;
    border: none;
    padding: 14px 28px;
    border-radius: 40px;
    cursor: pointer;
    background-color: #04AA6D;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.donate_here:hover {
    background-color: #db457f;
}

.donate_here:hover {
    color: #ffffff;
}

.camp_img {
    display: block;
    height: 100%;
    max-width: 100%;
}

.victim {
    font-size: 22px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.victim:hover {
    color: rgb(73, 67, 67);
}

.target {
    font-size: 18px;
}

.progress_text {
    float: right;
    color: blue;
    padding-top: 8px;
}
.date_add{
    float: right;
}

/* responsive */
@media screen and (max-width: 1000px) {

    .column-66,
    .column-33 {
        width: 100%;
        text-align: center;
        border: none;
    }
    .camp_img {
        margin: auto;
    }
    .donate_here {
        margin-left: 9%;
        padding: 8px 15px;
    }
}

@media screen and (max-width: 690px) {
    .victim {
        font-size: 18px;
    }
    .target,.progress_text,.date_add{
        font-size: 14px;
    }
}