{% extends 'navigation.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Create a New Campaign
{% endblock title %}

{% block content %}

<style>
    body{
        background-color: rgb(203, 235, 166);
    }
</style>

    <h2 class="heading font-weight-light text-center">Create a New Campaign</h2>
    <hr>
    <div class="container w-50 card p-4 mt-4 user-form">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %} 
            {{form|crispy}}
            <br>
            <input type="submit" value="Create" class="w-100 text-white text-center my-2 btn btn-info">
        </form>
    </div>
{% endblock content %}
