{% extends 'navigation.html' %}
{% load static %}

{% block title %}
Donation for {{khalti_api.Name}}
{% endblock title %}


{% block content %}

<style>
    body{
        background-color: rgb(79, 223, 215);
    }
    .dontate-khalti{
        margin-left: 40%;
        margin-top: 50px;
    }
    .donation_appreciate{
        width: 100%;
        color: rgb(16, 82, 7);
        padding-top: 100px;
        text-align: center;
    }
</style>


<script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>

<h2 class="donation_appreciate">We really appreciate your Donation for {{khalti_api.Name}} 😊😊😊</h2>

<button type="button" id="payment-button" class="btn btn-success text-center dontate-khalti">Donate using Khalti</button>

{% comment %} {% for message in messages %}
	<p id="messages">{{message}}</p>
{% endfor %} {% endcomment %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var config = {
        // replace the publicKey with yours
        "publicKey": "test_public_key_799339a43d6d4b1ab360287fb7e257c8",
        "productIdentity": "Campaign_Id: {{khalti_api.id}}",
        "productName": "Campaign_Name: {{khalti_api.Name}}",
        "productUrl": "http://127.0.0.1:8000/",
        "paymentPreference": [
            "KHALTI",
            "EBANKING",
            "MOBILE_BANKING",
            "CONNECT_IPS",
            "SCT",
        ],
        "eventHandler": {
            onSuccess(payload) {
                // hit merchant api for initiating verfication
                axios.get("/khaltiverify/", {
                    params: {
                        "token": payload.token,
                        "amount": payload.amount,
                        "campaign_id": "{{khalti_api.id}}",
                        "campaign_name": "{{khalti_api.Name}}"
                    }
                }).then(function (resp) {
                    if (resp.data.success == true) {
                        alert("Thanks for your life saving donation :)")
                        location.href = "/"
                    }
                    else {
                        alert("Sorry, Error occurred :(")
                        location.href = "{{request.build_absolute_uri}}"
                    }
                })
            },
            onError(error) {
                console.log(error);
            },
            onClose() {
                console.log('widget is closing');
            }
        }
    };

    var checkout = new KhaltiCheckout(config);
    var btn = document.getElementById("payment-button");
    btn.onclick = function () {
        var amt = window.prompt("Enter the amount you want to donate for {{khalti_api.Name}}: ")
        // minimum transaction amount must be 10, i.e 1000 in paisa.
        checkout.show({ amount: parseInt(amt) * 100 });
    }
</script>


{% endblock content %}