{% extends 'navigation.html' %}
{% load static %}

{% block title %}
Other Campaigns
{% endblock title %}


{% block content %}

<link rel="stylesheet" type="text/CSS" href="{% static './CSS/campaign.css' %}">

<!-- Campagn add from frontend -->
<div class="add_camp_btn">
  <button type="button" class="btn btn-secondary" style="width: 90%; margin-left: 5%; margin-top: 2%;">
    <a href="{% url 'create' %}" class="add_camp"><b><i class="fas fa-plus"></i>&nbsp;Add Campaign</b></a>
  </button>

</div>

<div style="text-align:center">
  <h1 class="oth_camp"><b>---Other Campaigns---</b></h1>
</div>

<!-- Campaign Section -->
{% for other_campaign in other_campaigns %}
<div class="container" style="background-color:#f1f1f1">
  <div class="row">
    <div class="column-33">
      <img src="{% if other_campaign.Image %}
      {{other_campaign.Image.url}}
      {% else %}
      {% static './Images/blank.jpg' %}
      {% endif %}" class="camp_img" alt="App">
    </div>
    <div class="column-66">
      <a href="{% url 'detail' other_campaign.id %}" class="victim"><b><u>Victim: "{{other_campaign.Name}}"</u></b></a>
      <div class="target"><i>Target Amount:</i> {{other_campaign.Target}}</div>
      <div class="target"><i>Collected Amount:</i> {{other_campaign.Collected}}</div>
      <br>
      <p>Info: {{other_campaign.Info}}</p>
      <br>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75"
          aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
      </div>
      <div class="progress_text">Rs. {{ other_campaign.Collected }} - Done</div>
      <br>
      <br>
      <a href="{% url 'khaltirequest' other_campaign.id %}"><button class="button donate_here">Donate Here</button></a>
      <br>
      <div style="float: right;">Date_added: {{other_campaign.Date_added}}</div>
    </div>
    <br>
  </div>
</div>

<!-- progress bar script -->

<script>
  var progress_bar = document.querySelectorAll(".progress-bar");
  for (var i = 0; progress_bar[i]; i++) {
    var progress_bars = progress_bar[i];
    var progpercent = {{ other_campaign.Collected }} / {{other_campaign.Target}};
  }
  progress_bars.style.width = `${progpercent * 100}%`;
</script>
{% endfor %}


{% endblock content %}