{% extends 'navigation.html' %}
{% load static %}

{% block title %}
Search result for {{search_term}}
{% endblock title %}


{% block content %}
<link rel="stylesheet" type="text/CSS" href="{% static './CSS/campaign.css' %}">

<h2 class="heading font-weight-light text-center">Search result for "{{search_term}}"</h2>
<hr>

{% if other_campaigns %}
{% for other_campaign in other_campaigns %}
<div class="container" style="background-color:#f1f1f1">
    <div class="row">
        <div class="column-33">
            <img src="{% if other_campaign.Image %}
          {{other_campaign.Image.url}}
          {% else %}
          {% static './Images/blank.jpg' %}
          {% endif %}" class="camp_img" alt="App">
        </div>
        <div class="column-66">
            <a href="{% url 'detail' other_campaign.id %}" class="victim"><b><u>Victim: "{{other_campaign.Name}}"</u></b></a>
            <div class="target"><i>Target Amount:</i> {{other_campaign.Target}}</div>
            <div class="target"><i>Collected Amount:</i> {{other_campaign.Collected}}</b></div>
            <br>
            <p>Info: {{other_campaign.Info}}</p>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>
            <div class="progress_text">75% - Done</div>
            <br>
            <button class="button"><a href="#" class="donate_here">Donate Here</a></button>
            <br>
            <div style="float: right;">Date_added: {{other_campaign.Date_added}}</div>
        </div>
        <br>
    </div>
</div>
{% endfor %}
{% else %}
<h1 class="text-center nrts">"No results found&nbsp;&nbsp;<i class="fas fa-sad-cry"></i><i class="fas fa-sad-cry"></i><i
        class="fas fa-sad-cry"></i>"</h2>
    {% endif %}


    {% endblock content %}